# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
astropy>=5.0
ipython>=8.3
ipywidgets>=8.0
# Set version more strictly to avoid test failures
matplotlib==3.6.*
numba>=0.55
numpy>=1.21
pytest>=7.1
# pytest-arraydiff>=0.5
pytest-arraydiff @ git+https://github.com/svank/pytest-arraydiff@fix-atol
pytest-mock>=3.7
pytest-mpl
reproject>=0.10
scipy>=1.8
spiceypy>=5.1
sunpy>=3.1
tqdm>=4.64
