# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
astropy>=5.0
ipython>=8.3
matplotlib==3.5.*
numpy>=1.21
pytest>=7.1
pytest-mock>=3.7
# reproject>=0.8
git+https://github.com/svank/reproject@everything#egg=reproject
scipy>=1.8
sunpy>=3.1
tqdm>=4.64
