# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
astropy>=5.0
ipython>=8.3
# Set version more strictly to avoid test failures
matplotlib==3.5.*
numba>=0.55
numpy>=1.21
pytest>=7.1
# pytest-arraydiff>=0.5
pytest-arraydiff @ git+https://github.com/svank/pytest-arraydiff@fix-atol
pytest-mock>=3.7
# reproject>=0.8
reproject @ git+https://github.com/svank/reproject@everything
scipy>=1.8
sunpy>=3.1
tqdm>=4.64
